@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import "../../units/colors/utils";

.category__list {
  display: none;

  &--active-mobile {
    @include mobile {
      display: block;
    }
  }

  @include mobile {
    margin: 10px auto;
    max-width: 80%;
    border-top: 1px solid  $color-primary-text;
    border-bottom: 1px solid  $color-primary-text;
  }

  &--active-tablet {
    @include tablet {
      display: flex;
    }
  }

  @include tablet {
    margin-top: 1.5rem;
    margin-left: 4px;
    flex-wrap: wrap;
  }
}
.category__item {
  color: $color-primary-text;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: $typography-text-small;
  line-height: 2.25rem;

  @include tablet {
    margin-right: 2rem;
  }
}

.category__item:hover {
  color: $color-search-text-hover;
}

.category__item:active {
  color: $color-search-text;
}

.category-wrapper {
  @include tablet {
    display: block;
    text-align: left;
    width: 50%;
  }

  &--active-tablet {
    @include tablet {
      display: flex;
    }
  }
}