@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import "../../units/colors/utils";

.catalog {
  display: flex;
  overflow: auto;
  margin-bottom: 20px;

  @include mobile {
    margin-top: 20px;
  }

  @include desktop {
    justify-content: space-between;
  }
}

.catalog-item-wrapper {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include until($desktop) {
    padding-left: 10px;
    padding-right: 10px;
  }
}