@import "../../vendors/bulma/sass/utilities/_all.sass";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.section {
  padding: 1rem;

  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desktop {
    padding-left: 59px;
    padding-right: 59px;
  }
}

.wrapper {
  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include desktop {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include widescreen {
    padding-left: 140px;
    padding-right: 140px;
  }
}
