@import "../../vendors/bulma/sass/utilities/_all.sass";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@include until($desktop) {
  .until-desktop\:display-none {
    display: none;
  }
}

@include until($tablet) {
  .until-tablet\:display-none {
    display: none;
  }
}
.section {
  padding: 1rem;

  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desktop {
    padding-left: 59px;
    padding-right: 59px;
  }
}

.wrapper {

  @include widescreen {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper-left {

  @include widescreen {
    max-width: 328px;
    margin-left: auto;
  }
}

.wrapper-right {

  @include widescreen {
    max-width: 832px;
    margin-right: auto;
  }
}

@include tablet {
  .tablet\:mt-16per {
    margin-top: 16%;
  }

  .tablet\:flex-grow-6 {
    flex-grow: 6;
  }

  .tablet\:ml-auto {
    margin-left: auto;
  }
}

.position-relative {
  position: relative;
}

.display-flex {
  display: flex;
  flex-grow: 1;
  @include mobile {
    flex-direction: column;
  }
}

@include mobile {
  .mobile-only\:section {
    padding: 1rem;
  }

  .mobile\:mt-15 {
    margin-top: 15px;
  }
}

.ml-16 {
  margin-left: 16px;
}

.mr-10 {
  margin-right: 10px;
}