@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import "../../units/colors/utils";

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    margin-top: 20px;
  }
}

.catalog-item:hover .catalog-item__icon-box {
  background-color: $color-button;
}

.catalog-item:active .catalog-item__icon-box {
  background-color: $color-button;
}

.catalog-item:active .catalog-item__title {
  opacity: 0.3;
}

.catalog-item:active .catalog-item__icon {
  path {
    fill: $color-item-active;
  }
}

.catalog-item__title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: $typography-text-medium;
  line-height: 1.5rem;
  font-family: "Gilroy";
  font-weight: bold;
  color: $color-primary-text;

  @include widescreen {
    margin-right: auto;
  }
}

.catalog-item__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-text;
  width: 160px;
  height: 160px;
  position: relative;
}

.catalog-item__icon--bottom {
  position: absolute;
  bottom: 2px;
}