@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import "../../units/colors/utils";

.feature-button {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  font-family: "Gilroy";
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: $typography-text-medium;
  line-height: 1.5rem;
  color: $color-primary-text;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.feature-button--lg {
  width: 220px;
}

.feature-button--extra-lg {
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 260px;
  }
}

.feature-button--md {

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 160px;
  }
}

.feature-button:hover, .feature-button:focus {
  color: $color-primary-text;
  outline: none;
}

.feature-button:active {
  color: $color-text;
}

.feature-button__inner {
  position: relative;
}

.feature-button::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5em;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: $color-button;
  transition: all 150ms ease-in-out;
}

.feature-button:hover::before, .feature-button:focus::before {
  height: 100%;
}

.feature-button:active::before {
  height: 100%;
  background-color: $color-primary-text;
}