$typography-h1: 3rem;
$typography-h2: 2.938rem;
$typography-h3: 1.125rem;
$typography-number: 11.01rem;

$typography-text-super-large: 11.2rem;
$typography-text-large: 2.25rem;
$typography-text-medium: 1.125rem;
$typography-text: 1rem;
$typography-text-small: 0.938rem;
$typography-text-x-small: 0.875rem;
$typography-text-xx-small: 0.813rem;

