$color-text: #f7e184;
$color-primary-text: #000000;
$color-secondary-text: #464646;
$color-search-text: #ac9e69;
$color-pagination-text: #a4a4a4;
$color-pagination-hover: #7a7a7a;
$color-pagination-button-text-hover: #979797;
$color-radio-text: #bfbfbf;
$color-navbar-text: #b2b2b2;
$color-navbar-text-hover: #666666;
$color-logout-footer-text: #7e7e7e;
$color-item-overlay-text: #7f7f7f;
$color-item-overlay-text-active: #cccccc;
$color-button-text-active: #a88a20;
$color-input-text: #adadad;
$color-input-text-hover: #a8a8a8;
$color-input-text-not-valid: #b09f9f;

$color-app-background: #ffffff;
$color-item-overlay: #eeeeee;
$color-primary: #f7e296;
$color-secondary: #efefef;
$color-first-section: #e5e5e5;
$color-second-section: #ebebeb;
$color-pagination-hover: #d9d9d9;
$color-form-control: #d3d2d2;
$color-form-control-hover: #a7a5a6;
$color-form-control-active: #231f20;
$color-button: #f0c52e;
$color-footer: #464646;
$color-footer-item: #ffc600;
$color-footer-item-hover: #b5931c;
$color-footer-item-active: #7e6d31;
$color-popular: #363636;
$color-list-button: #e6e6e6;
$color-share-background-hover: #b5b5b5;
$color-share-background-active: #595959;
$color-radio-line: #dbdbdb;
$color-radio-line-active: #91c92f;
$color-input-background: #f2f2f2;
$color-input-background-hover: #eaeaea;
$color-input-background-not-valid: #f6dada;